@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@tailwind base;
/* pour des styles globaux comme les polices, la normalisation, 
ou la configuration de base des éléments HTML. */

@tailwind components;
/* pour créer des composants réutilisables 
et spécifiques comme des boutons, des cartes, etc*/
@tailwind utilities;
/* pour des classes utilitaires personnalisées 
que tu utilises dans ton HTML directement 
(par exemple, des classes pour des marges, alignements, ou ombres).*/


:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Orbitron', sans-serif; /* Ajout de la police Orbitron */
}

/* #app {
  padding-top: 4rem; /* Espace pour la barre de navigation fixe 
  min-height: 100vh; /* S'assure que #app peut remplir la hauteur de la fenêtre 
  box-sizing: border-box; /* Inclut padding et bordure dans la hauteur et largeur totales 
} */


body {
  min-height: 100vh;
  min-width: 320px;
  padding: 0 1rem;
  background-image: linear-gradient(rgba(10, 10, 10, 0.3), rgba(0, 0, 0, 0.8)), 
                    url('../public/background.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/noise.gif'); 
  background-repeat: repeat; 
  background-size: auto; 
  background-attachment: fixed; 
  opacity: 0.01; 
  pointer-events: none;
}

@layer utilities {
  .Parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 0.5rem;
  }

  @screen sm {
    .Parent {
      gap: 1rem;
    }
  }
  @screen md {
    .Parent {
      gap: 2rem;
    }
  }
  @screen lg {
    .Parent {
      gap: 3rem;
    }
  }
}

@layer utilities {
.image-zoom {
  width: 100%; /* L'image prendra toute la largeur de son conteneur */
  height: 100%; /* L'image prendra toute la hauteur de son conteneur */
  object-fit: contain; /* L'image s'ajuste pour couvrir tout le conteneur sans déformation */
  transition: transform 0.3s ease; /* Ajoute une transition fluide pour l'effet de zoom */
}
}

/* @layer utilities {
  .page-container-full-height {
    min-height: calc(100vh - 4rem);
    width: 100%;
  }
} */

/* liens invisibles en petit écran */
@layer utilities {
  .navbar-links {
    @apply transition-all ease-in-out duration-300;
    @apply font-bold hidden md:flex flex-row items-center space-x-10 mx-auto;
  }

  /* Gérer le menu hamburger*/
  .navbar-links.open {
    @apply block flex-col space-y-4; /* Ajouter un margin-top pour espacer les liens */
    @apply absolute top-full left-1/2 transform -translate-x-1/2 w-full bg-[#242424]/75 text-white backdrop-blur-sm; /* Modifié pour la transparence et le flou */
  }

  /* Positionner le hamburger */
  .hamburger-btn {
    @apply md:hidden absolute left-1/2 transform -translate-x-1/2 text-2xl z-10; /* Assurez-vous qu'il est au-dessus des autres éléments */
  }
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 50px;
}