@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  min-width: 320px;
  padding: 0 1rem;
  margin-top: 4rem;
  background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.185)), 
                    url('../public/background.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/noise.gif'); 
  background-repeat: repeat; 
  background-size: auto; 
  background-attachment: fixed; 
  opacity: 0.01; 
  pointer-events: none;
}

@layer utilities {
  .page-container-full-height {
    min-height: calc(100vh - 4rem);
    width: 100%;
  }
}